/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.news-item h2 {
    margin-left: 10px;
}

.news-image {
    width: 100px;
    height: auto;
}

.news-item h2 a {
    color: #00274C;
    text-decoration: none;
}

.news-item h2 a:hover {
    text-decoration: underline;
}

